.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
}

.gif {
	align-self: center;
	-webkit-align-self: center;
}

.buttonSpacer {
	margin: 0px 10px 0px 10px;
}